<ul class="list-group">
  <li *ngFor="let log of logs" [class.list-group-item-secondary]="selectedLog === log" class="list-group-item d-flex justify-content-between align-items-center">
    <a (click)="onSelect(log)" href="#">{{log.text}}</a>
    <span class="log-date">{{log.date | date: 'short'}}</span>
    <i (click) = "onDelete(log)" class="fa fa-remove"></i>
  </li>
</ul>

<h2 *ngIf="logs.length <= 0" class="ml-2">Add some logs above to get started!</h2>
<h2 *ngIf="!loaded" class="ml-2">Loading...</h2>